.loginContainer {
  background: #ffffff url('/img/cats.jpg') no-repeat right bottom;
  background-size: 82rem; // tamanho da imagem
  border-radius: 8px;
  display: flex;
  min-height: 100vh;
  font-family: #000;

  @media (max-width: 850px) {
    flex-direction: column;
      background: #ffffff url('/img/cats.jpg') no-repeat right bottom;
      background-size:40rem; // tamanho da imagem
  }
}
// 🔹 Seção do formulário
.formSection {
  background: linear-gradient(1deg, #8c52ff,  #5ce1e6);
  flex: 1;
  color:  #8c52ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem;
      // text-align: center;
  text-align: center;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  

  h1 {
    font-size: 2.5rem;
    color: #ffffff;
    margin-bottom: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    input {
      padding: 0.9rem 1rem;
      border: 2px solid lighten(#000000, 20%);
      border-radius: 8px;
      font-size: 1rem;
      transition: border 0.2s;

      &:focus {
        outline: none;
        border-color: #5ce1e6;
      }
    }

    button {
      background-color:#5ce1e6;
      color: white;
      border: none;
      border-radius: 8px;
      padding: 0.9rem;
      font-weight: 600;
      font-size: 1rem;
      cursor: pointer;
      transition: background 0.3s;

      &:hover {
        background-color: darken(#5ce1e6, 10%);
      }

    }
  }
}

// 🔹 Seção lateral
.sideSection {
  flex: 1;
  color:  #8c52ff;
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem;
  text-align: left;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;

  h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.8rem;
    line-height: 1.5;
    margin-bottom: 2rem;
  }

  .signupBtn {
   background-color:#7184ee;
    color:  #ffffff;
    padding: 0.9rem 0.8rem;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    width: fit-content;
    transition: all 0.3s ease;

    &:hover {
      background: darken(white, 5%);
      color: darken(#120267, 10%);
    }


  }

  @media (max-width: 850px) {
    // text-align: center;
    align-items: center;
    padding: 3rem 0.2rem;
    h2 {
    font-size: 2rem;
    margin-bottom: 3rem;
    padding-right: 50px;
    margin-top: 4rem;
  }

  p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 2rem;
    padding-right: 100px;
    padding-left: 20px;
    margin: 3px;
  }
  }

}