.signup-container {
   background: linear-gradient(16deg,#90c2e5,  #8c52ff);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  padding: 30px;
  min-height: 100vh;

  @media (max-width: 900px) {
    flex-direction: column;
    align-items: center;
  }
}

.card {
  background: #fff;
  padding: 25px;
  border-radius: 18px;
  width: 700px;
  max-width: 95%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
  animation: fadeIn 0.3s ease-in-out;

  .title {
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: 700;
    text-align: center;
    color: #333;
  }
}

.section {
  margin-top: 20px;
  padding: 15px 20px;
  border-left: 4px solid #8c52ff;
  background: #fafafa;
  border-radius: 10px;

  h3 {
    margin: 0 0 10px;
    color: #90c2e5
  }

  p {
    margin: 5px 0;
    font-size: 15px;

    strong {
      color: #333;
    }
  }
}

.borda {
  background: white;
  padding: 20px;
  border-radius: 18px;
  width: auto;
  height: auto;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);

  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

  .btn-back {
    margin-right: 6rem;
    margin: .8rem;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 12px;
    background-color: #5a67d8;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s;

    &:hover {
      background-color: #4c51bf;
      transform: scale(1.03);
    }

    &:active {
      transform: scale(0.98);
    }
  }